body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100vw;
    height: 100vh; /* высота секции равна высоте области просмотра */
    margin: 0 auto;
    padding: 0;
}

.logo {
    display: block;
    box-sizing: border-box; /* Ширина блока с полями */
    text-align: center; /* Выравнивание текста по центр */
    float: left; /* Обтекание по левому краю */
    background: rgba(143, 109, 177, 0.781);
    border: 5px solid;
    border-color: white;
    width: 25%; /* Ширина блока */  
    height: 50px;
    line-height:45px;
}

.banner {
    display: block;
    box-sizing: border-box;
    text-align: center;
    float: right;
    background: rgba(143, 109, 177, 0.781);
    border: 5px solid;
    border-color: white;
    width: 50%;
    height: 50px;
    line-height:45px;
}

nav {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    background: rgba(143, 109, 177, 0.781);
    width: 100%; 
    border: 5px solid;
    border-color: white;
    height: 50px;
    line-height:45px;
}

footer {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    background: rgba(143, 109, 177, 0.781);
    width: 100%; 
    border: 5px solid;
    border-color: white;
    height: 50px;
    line-height:45px;
}

main {
    display: flex;
    height: 80%;
    text-align: center; 
    background: rgba(143, 109, 177, 0.781);
    margin: 0 auto;
}

article {
    flex-direction: column;    
    width: 50%;
}

section {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

article section:nth-child(1) {
    box-sizing: border-box;
    border: 5px solid;
    border-color: white;
    height: 25%;
}
article section:nth-child(2) {
    box-sizing: border-box;
    border: 5px solid;
    border-color: white;
    height: 35%;
}
article section:nth-child(3) {
    box-sizing: border-box;
    border: 5px solid;
    border-color: white;
    height: 40%;
}

.side-1 {
    flex-direction: column;    
    width: 25%;
}

.side-1 section:nth-child(1) {
    box-sizing: border-box;
    border: 5px solid;
    border-color: white;
    height: 35%;
}

.side-1 section:nth-child(2) {
    box-sizing: border-box;
    border: 5px solid;
    border-color: white;
    height: 65%;
}


.side-2 {
    flex-direction: column;    
    width: 25%;
}
.side-2 section:nth-child(1) {
    box-sizing: border-box;
    border: 5px solid;
    border-color: white;
    height: 20%;

}
.side-2 section:nth-child(2) {
    box-sizing: border-box;
    border: 5px solid;
    border-color: white;
    height: 50%;

}
.side-2 section:nth-child(3) {
    box-sizing: border-box;
    border: 5px solid;
    border-color: white;
    height: 30%;
    /* padding-top: 30%; */
}
